@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

* {
   margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background: #F7F9FC;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  display: block;
  margin: 8px;
}

.container {
  width: 700px;
  height: 800px;
  margin: 40px auto;
}

div {
  display: block;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}



.btn-blue {
  background-color: #6B72E1;*/
  border: 1px solid LightGrey;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  width: 100%;
  color: white;
  margin: 10px;
  text-decoration: none;
}

.btn-blue a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}


h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: 500;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

